body {}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;

}

.container {
  width: 100%;
  min-height: 100vh;
  background: #777e7d;
  padding: 2rem;

}

h1 {
  margin-bottom: 1rem;
  text-align: center;

}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;

}

.todo-app {
  text-align: left;
  background: #e0ebeb;
  width: 100%;
  max-width: 540px;
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 100px auto 20px;

}

input {
  flex: 1;
  border: solid 1px #a7bcb9;
  outline: none;
  padding: 12px;
  border-radius: 2rem;
}

ul li {
  list-style: none;
  margin: 1.2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  font-size: 1.15rem;
  padding-left: .5rem;
}

ul li::before{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(./images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: -2px;
  left: -2.20rem;

}
ul li.checked{
  color: #555;
  text-decoration: line-through;

}
ul li.checked::before{

  background-image: url(./images/checked.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: -12px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
}
ul li span:hover{
  background: #a7bcb9;
  border-radius: 50%;
}

button {
  margin-top: 1rem;
  font-weight: 600;
  outline: none;
  border: solid 1px #a7bcb9;
  padding: 10px 30px;
  background: #a7bcb9;
  border-radius: 2rem;
  margin-left: 15px;

}

button:hover {
  background: #777e7d;
}




/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 700px) {

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

  }

  input {
    flex: 1;
    border: solid 1px #bba7bc;
    width:400px;
    outline: none;
    padding: 10px;
    border-radius: 2rem;
  }






  /* Your styles for extra large screens go here */
}